
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#paddleRight {
    /* appearance */
    width: 10px;
    height: 80px;
    background-color: white;
    border-radius: 30px;
    
    /* positioning */
    position: absolute;
    top: 20px;
    left: 410px;
}

#paddleLeft {
    /* appearance */
    width: 10px;
    height: 80px;
    background-color: white;
    border-radius: 30px;

    /* positioning */
    position: absolute;
    top: 20px;
    left: 20px;
}

#ball {
    /* appearance */
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;

    /* positioning */
    position: absolute;
    top: 20px;
     left: 50px;
}