
body {
  background-image: url(https://ak.picdn.net/shutterstock/videos/2623664/thumb/12.jpg);
}

#board {
  width: 1000px;
  height: 800px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #516f77;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #516f77;
  font-size: 80px;
  text-align: center;
}

/* fish */
#gameItem { 
  background-image: url("img/Screen Shot 2021-06-08 at 2.40.45 PM.png");
  background-size: 70px, 50px;
  width: 70px;
  height: 50px;
  position: absolute;
}

#shark {
  background-image: url("img/pdX4ueX - Imgur.png");
  background-size: 150px 100px;
  width: 150px;
  height: 100px;
  position: absolute;
}

